<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Para interagir com as configurações de áudio (mesmo que simulado na HAL),
         e para simular certos cenários de áudio, estas permissões são úteis. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- A permissão RECORD_AUDIO é comum em aplicativos de áudio, mesmo que
     não esteja sendo usada diretamente na simulação de escrita da HAL,
     ela é relevante para o contexto geral de áudio. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAudioHalProject"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".EqualizerService"
            android:enabled="true"
            android:exported="false" >
            <!-- Opcional: Adicionar um intent-filter para ações
            43
            específicas se o serviço for iniciado por intenção -->
            <!-- <intent-filter>
            <action
            android:name="com.example.vehicleequalizerapp.action.BIND_EQUALIZER_SERVI
            CE" />
            </intent-filter> -->
        </service>
    </application>

</manifest>